<div class="col-lg-12">
  <%= form_for current_user do |f| %>
    <h3>登録画面</h3>
    <div class="form-group">
      <div class="col-lg-6">
        <%= f.text_field :last_name, placeholder: "姓", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <%= f.text_field :last_name_kana, placeholder: "姓（セイ）", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :first_name_kana, placeholder: "名（メイ）", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :age, placeholder: "年齢", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :gender, placeholder: "性別", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :prefecture, placeholder: "出身地（都道府県）", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :judgement, placeholder: "高校生or大学生", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :university_id, placeholder: "学校", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :department_id, placeholder: "学部学科", class: "form-control" %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :grade, placeholder: "学年", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary withripple" %>
    </div>
  <% end %>
</div>
