<div>
   <% @users.each do |user| %>
   <div>
      <%= image_tag user.image.url(:thumb) %>
      <p><%= user.first_name %></p>
      <p><%= user.last_name %></p>
      <p><%= user.first_name_kana %></p>
      <p><%= user.last_name_kana %></p>
   </div>
   <% end %>
</div>
